<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		https://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd">

    <security:debug/>
    <context:annotation-config/>
    <!--    <security:http pattern="index.jsp" security="none"/>-->

    <context:component-scan base-package="cn.jseok.platform.security"/>

    <security:http auto-config="false" entry-point-ref="loginEntryPoint">
        <security:intercept-url pattern="/**"/>
        <security:custom-filter position="FORM_LOGIN_FILTER" ref="jseokUsernamePasswordAuthenticationFilter"/>
    </security:http>

<!--    <security:http auto-config="true" pattern="/**">-->
<!--        <security:intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>-->
<!--        <security:form-login/>-->
<!--        <security:logout/>-->
<!--    </security:http>-->

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <!-- Password is prefixed with {noop} to indicate to DelegatingPasswordEncoder that
                NoOpPasswordEncoder should be used. This is not safe for production, but makes reading
                in samples easier. Normally passwords should be hashed using BCrypt -->
                <security:user name="jimi" password="{noop}jimispassword" authorities="ROLE_USER, ROLE_ADMIN"/>
                <security:user name="bob" password="{noop}bobspassword" authorities="ROLE_USER"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="loginEntryPoint"
          class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <!-- 默认登录页的url -->
        <constructor-arg value="/logins" />
    </bean>
</beans>