<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		https://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd">

    <security:debug/>
    <context:annotation-config/>

    <bean id="loginUrlAuthenticationEntryPoint"
          class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <constructor-arg name="loginFormUrl" value="/index.jsp"/>
    </bean>


    <bean id="jseokUserDetailsService"
          class="cn.jseok.platform.security.JseokUserDetailsService">
    </bean>

    <bean id="jseokPasswordEncoder"
          class="cn.jseok.platform.security.JseokPasswordEncoder">
    </bean>

    <bean id="daoAuthenticationProvider"
          class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="userDetailsService" ref="jseokUserDetailsService"/>
        <property name="passwordEncoder" ref="jseokPasswordEncoder"/>
    </bean>


    <bean id="anonymousAuthenticationProvider"
          class="org.springframework.security.authentication.AnonymousAuthenticationProvider">
        <constructor-arg name="key" value="admin"/>
    </bean>

    <bean id="rememberMeAuthenticationProvider"
          class="org.springframework.security.authentication.RememberMeAuthenticationProvider">
        <constructor-arg name="key" value="admin"/>
    </bean>


    <bean id="forwardAuthenticationSuccessHandler"
          class="org.springframework.security.web.authentication.ForwardAuthenticationSuccessHandler">
        <constructor-arg name="forwardUrl" value="/index.html"/>

    </bean>
    <bean id="forwardAuthenticationFailureHandler"
          class="org.springframework.security.web.authentication.ForwardAuthenticationFailureHandler">
        <constructor-arg name="forwardUrl" value="/failure.html"/>

    </bean>
    <bean id="providerManager" class="org.springframework.security.authentication.ProviderManager">
        <constructor-arg name="providers">
            <list>
                <ref bean="daoAuthenticationProvider"/>
                <!--                <ref bean="rememberMeAuthenticationProvider"/>-->
                <!--                <ref bean="anonymousAuthenticationProvider"/>-->
            </list>
        </constructor-arg>
    </bean>


    <bean id="usernamePasswordAuthenticationFilter"
          class="cn.jseok.platform.security.JseokUsernamePasswordAuthenticationFilter">
        <property name="authenticationSuccessHandler" ref="forwardAuthenticationSuccessHandler"/>
        <property name="authenticationFailureHandler" ref="forwardAuthenticationFailureHandler"/>
        <property name="authenticationManager" ref="providerManager"/>
    </bean>
    <bean id="authorityAuthorizationManager"
          class="org.springframework.security.authorization.AuthorityAuthorizationManager">
        <constructor-arg value="ROLE_"/>
    </bean>
    <bean id="corsConfigurationSource" class="org.springframework.web.cors.CorsConfiguration">
        <property name="allowCredentials" value="true"/>
        <property name="allowedHeaders">
            <list>
                <value>*</value>
            </list>
        </property>
        <property name="allowedMethods">
            <list>
                <value>*</value>
            </list>
        </property>

        <property name="allowedOrigins">
            <list>
                <value>http://localhost:3000</value>
            </list>
        </property>

    </bean>
    <bean id="urlBasedCorsConfigurationSource" class="org.springframework.web.cors.UrlBasedCorsConfigurationSource">
        <property name="corsConfigurations">
            <map>
                <entry key="/**" value-ref="corsConfigurationSource"/>

            </map>
        </property>
    </bean>

    <security:http pattern="/index.jsp" security="none"/>
    <security:http pattern="/user/test" security="none"/>
    <security:http auto-config="false" entry-point-ref="loginUrlAuthenticationEntryPoint"
                   authentication-manager-ref="providerManager"
                   authorization-manager-ref="authorityAuthorizationManager">
        <security:csrf disabled="true"/>
        <security:cors configuration-source-ref="urlBasedCorsConfigurationSource"/>
        <!--        <security:intercept-url pattern="/SS"/>-->
        <security:custom-filter position="FORM_LOGIN_FILTER" ref="usernamePasswordAuthenticationFilter"/>
    </security:http>


</beans>